#ImageItem {
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-top: 20px;
    position: relative;
}
#ImageItem img {
    max-width: 100%;
    max-height: 100%;
    min-height: 50%;
    min-width: 50%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    border-radius: 0.2em;
    object-fit: contain;
    transition: transform 0.2s;
}
#ImageItem:hover img {
    transform: scale(1.2,1.2);
}

#ImageItem:hover #tagRow {
    opacity: 0.4;
    transform: scale(1.2,1.2);
}
#tagRow {
    background-color: #262626;
    height: 20px;
    border-radius: 0.2em;
    color: white;
    position: absolute;
    top: -10px;
    left: 0px;
    opacity: 0;
    transition: opacity,transform 0.2s;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}
#tagRow p {
    flex-shrink: 1;
}



